<div class="card <%= 'border-danger' if widget.inventory_approaching_empty? %>">
  <div class="card-header"><%= widget.name %></div>
  <div class="card-body">
    <ul>
      <li>Category: <%= widget.category %></li>
      <li>Color: <%= widget.color %></li>
      <li>Size: <%= widget.size %></li>
      <li>Quantity: <%= widget.quantity %></li>
    </ul>
    
    <a href="#" class="btn btn-primary">Order This Widget</a>
  </div>
</div>
