<div id="accordion" class="search--sticky">
  <div class="card card--marginBottom">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Search By Widget Name
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <%= form_tag(store_index_path, method: :get) do %>
          <div class="form-group">
            <%= label_tag :name_term, 'Search By Name', class: 'sr-only' %>
            <%= text_field_tag :name_term,
                               nil,
                               placeholder: 'Enter search terms here...',
                               class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'Search', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card card--marginBottom">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Search By Widget Size
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <%= form_tag(store_index_path, method: :get) do %>
          <div class="form-group">
            <%= label_tag :size_term, 'Search By Size', class: 'sr-only' %>
            <%= select_tag :size_term,
                           options_from_collection_for_select(Size.all, :id, :name),
                           include_blank: "Please select a size",
                           class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'Search', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card card--marginBottom">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Search By Widget Color
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <%= form_tag(store_index_path, method: :get) do %>
          <div class="form-group">
            <%= label_tag :color_term, 'Search By Color', class: 'sr-only' %>
            <%= select_tag :color_term,
                           options_from_collection_for_select(Color.all, :id, :name),
                           include_blank: "Please select a color",
                           class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'Search', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Search By Widget Category
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <%= form_tag(store_index_path, method: :get) do %>
          <div class="form-group">
            <%= label_tag :category_term, 'Search By Category', class: 'sr-only' %>
            <%= select_tag :category_term,
                           options_from_collection_for_select(Category.all, :id, :name),
                           include_blank: "Please select a category",
                           class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'Search', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
