<div class="card <%= 'border-danger' if widget.inventory_approaching_empty? %>">
  <div class="card-header"><%= widget.name %></div>
  <div class="card-body">
    <ul>
      <li>Category: <%= widget.category %></li>
      <li>Color: <%= widget.color %></li>
      <li>Size: <%= widget.size %></li>
      <li>Quantity: <%= widget.quantity %></li>
    </ul>

    <%= button_to "Add Widget",
                  shopping_cart_items_path(@profile),
                  params: {
                    order_item: {
                      widget_id: widget.id
                    }
                  }, 
                  class: 'btn btn-primary' %>
  </div>
</div>
