<h1>Widgets</h1>

<%= render partial: "shared/flash_messages", flash: flash %> 

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Color</th>
      <th scope="col">Size</th>
      <th scope="col">Quantity</th>
      <th scope="col">Created At</th>
      <th scope="col">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @widgets.each do |widget| %>
      <% widget_list_presenter = WidgetListingPresenter.new(widget) %>
      <tr class="<%= 'table-danger' if widget.inventory_approaching_empty? %>">
        <td><%= "Widget #{widget_list_presenter.name}" %></td>
        <td><%= widget_list_presenter.category %></td>
        <td><%= widget_list_presenter.color %></td>
        <td><%= widget_list_presenter.size %></td>
        <td><%= widget_list_presenter.quantity %></td>
        <td><%= widget_list_presenter.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_widget_path(widget) %> | <%= link_to 'Destroy', widget, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @widgets %>

<%= link_to 'New Widget', new_widget_path %>
