<!DOCTYPE html>
<html>
  <head>
    <title>FacetWealthWidgetStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Widget Store</span>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-4">
          <h2>Search</h2>
          <%= render partial: 'shared/widget_search' %>
        </div>
        <div class="col-xl-8">
          <h2>Widgets</h2>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
