<!DOCTYPE html>
<html>
  <head>
    <title>FacetWealthWidgetStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Widget Store</span>
    </nav>
    <div class="container">
      <div class="jumbotron jumbotron--small">
        <%= render partial: 'shared/widget_search' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
